# Docker Compose нужен для упрощения управления приложениями, 
# состоящими из нескольких контейнеров, путем определения 
# их конфигурации в одном файле YAML и запуска всех сервисов
# одной командой.
services:
  # Имя сервиса в docker-compose
  ros2_docker:
    # Имя образа
    image: ros2:1.0
    # Название создаваемого контейнера
    container_name: ros2_docker
    # Контейнер использует сетевой стек хостовой системы 
    # вместо изолированной Docker-сети:
    # 1) Контейнер использует IP-адрес хоста, а не виртуальный Docker IP
    # 2) Все порты контейнера автоматически доступны на хосте
    network_mode: host
    # Переменные окружения
    environment:
      # Переменная DISPLAY с хоста
      - DISPLAY=${DISPLAY} 
    # Монтирование рабочих директорий
    volumes:
      - /home/user/ros2/personal/ros_ws:/home/${USER}/ros_ws
      - /home/user/ros2/personal/workdir:/home/${USER}/workdir      
      # Доступ к X11 серверу для GUI,
      # это монтирование X11 socket в контейнер.
      # /tmp/.X11-unix - это специальный файл (socket), 
      # через который приложения общаются с X11 сервером 
      # (графической системой Linux).
      # Без этого GUI приложения, напрмиер, Gazebo
      # не запустятся
      - /tmp/.X11-unix:/tmp/.X11-unix
    # устанавливает рабочую директорию по умолчанию 
    # внутри контейнера.
    working_dir: /home/${USER}
    # настраивают интерактивный режим работы с контейнером
    tty: true
    stdin_open: true